@model List<Models.EF.Category>

<div class="dropdown-menu" aria-labelledby="dropdown_category">
    @foreach (var parentItem in Model.Where(n => n.ParId == 0))
    {
        var children = Model.Where(n => n.ParId == parentItem.CategoryId).ToList();

        <div class="dropdown-submenu">
            <a class="dropdown-item @(children.Any() ? "has-children" : "")"
               href="/danh-muc/@parentItem.CategoryId"
               style="font-weight:normal; position: relative;">
                @parentItem.Name
            </a>

            @if (children.Any())
            {
                <div class="dropdown-menu">
                    @foreach (var childItem in children)
                    {
                        var grandChildren = Model.Where(n => n.ParId == childItem.CategoryId).ToList();

                        <div class="dropdown-submenu">
                            <a class="dropdown-item @(grandChildren.Any() ? "has-children" : "")"
                               href="/danh-muc/@childItem.CategoryId"
                               style="font-weight:normal; margin-left: 10px;">
                                @childItem.Name
                            </a>

                            @if (grandChildren.Any())
                            {
                                <div class="dropdown-menu">
                                    @foreach (var grandChildItem in grandChildren)
                                    {
                                        <a class="dropdown-item"
                                           href="/danh-muc/@grandChildItem.CategoryId"
                                           style="font-weight:normal; margin-left: 20px;">
                                            @grandChildItem.Name
                                        </a>
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>
            }
        </div>
    }

</div>
