@model WebsiteNoiThat.Models.EmailModel
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="breadcrumb-wp">
        <ol class="breadcrumb">
            <li><a class="pink" href="/Home/Index"><i class="glyphicon glyphicon-home"></i></a></li>
            <li class="active">Liên Hệ</li>
        </ol>
    </div>
    <h3>Nội Thất Seven</h3>
    <h4> Địa chỉ: Thanh Khê Đà Nẵng</h4>
    <h4>SĐT/Zalo: 0354 639 103</h4>

    <div class="form-horizontal">
        <h3 class="text-primary">Liên hệ với chúng tôi qua thư</h3>
        <hr />
        @if (ViewBag.Status != null)
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 text-success">
                    @ViewBag.Status
                </div>
            </div>
        }
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.SenderEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SenderEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SenderEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmailSubject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailSubject, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmailSubject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMailBody, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.EMailBody, new { @class = "form-control", rows = 5 })
                @Html.ValidationMessageFor(model => model.EMailBody, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Gửi liên hệ" class="btn btn-primary" />
            </div>
        </div>


    </div>
}
