@model Models.EF.User

@{
    ViewBag.Title = "Xem thông tin tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin tài khoản</h2>
<div>
    <fieldset>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="username">Tên đăng nhập</label>
                <input type="text" class="form-control" id="username" placeholder="@Model.Username" readonly>
            </div>
            <div class="form-group col-md-6">
                <label for="password">Mật khẩu</label>
                <input type="password" class="form-control" id="password" value="@Model.Password" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Tên người dùng</label>
            <input type="text" class="form-control" id="name" placeholder="@Model.Name" readonly>
        </div>
        <div class="form-group">
            <label for="inputAddress">Email</label>
            <input type="text" class="form-control" id="email" placeholder="@Model.Email" readonly>
        </div>
        <div class="form-group">
            <label for="address">Địa chỉ</label>
            <input type="text" class="form-control" id="address" placeholder="@Model.Address" readonly>
        </div>
        <div class="form-group">
            <label for="phone">Số điện thoại</label>
            <input type="text" class="form-control" id="phone" placeholder="@Model.Phone" readonly>
        </div>

        <div class="form-group">
            <div class="form-check">
                @{
                    if (Model.Status)
                    {
                        <input class="form-check-input" type="checkbox" id="status" checked disabled style="margin-left: -11px;">
                    }
                    else
                    {
                        <input class="form-check-input" type="checkbox" id="status" disabled style="margin-left: -11px;">
                    }
                }
            </div>
            <a style="margin-left: 21px;">Trạng thái kích hoạt</a>
        </div>
        <button class="btn btn-warning">
            <a href="/RegisterAndLogin/EditCurentUser" style="color: white; text-decoration: none;">Sửa thông tin</a>
        </button>
    </fieldset>
</div>
